<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Листи з канцелярії Святого Миколая
                <small> 1998 р.</small>
            </h1>
        </div>
    </div>
</div>
<div class="letters ">
    <div class="row">
        <div class="col-sm-4 text-justify letter">

            Святий Миколаю! Прошу тебе, дай Україні миру, а
            нашому народу добробуту, щоб мій тато накінець одержав
            гроші, які затримують. Моїй мамі здоров’я і взагалі щоб ніхто
            не хворів, бо здоров’я — це найбільша цінність. Я би хотів, щоб
            ти мені приніс такий подарунок, який я заслуговую. Я може не
            завжди був чемним, але я старався не засмучувати маму.
            З надією на твоє добре серце Максим.

        </div>
        <div class="col-sm-4 text-justify letter">
            Лист до Миколая! Святий Миколаю я люблю тебе, бо ти
            є Святий. І в тебе твоя ласка до всіх припадає. І всі діти хочуть
            подарунки і я хочу від твого щирого серця. будьласко подаруй
            тільки 4 подарунки.
            1. 10 зошитів із Математики і 5 з Української мови.
            2. Конструктор лего.
            3. Конструктор щоб будувати машну.
            4. Конструктор щоб складати хату.
            І всьо більше не потрібно. бо буде забагато.
        </div>
        <div class="col-sm-4 text-justify letter">
            До Св. Миколая. Принести Юрі. Печеня, книжку Св.
            Миколая, лижі, цукерки, шоколад, самальт. Принести Назарові.
            Печеня, цукерки, шоколад, шубу, шапку, рукавиці.
        </div>
        <div class="col-sm-4 text-justify letter">
            Лист до Миколайчика. Дорогий Миколай! Прошу Тебе
            подарувати мені такі подарунки: ... 9. Здоров’ячка і щоб гарно
            вчилася.
        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколаю. Я Наталя з Коломиї. Принеси мені
            слоника і журнал Пізнайко.
        </div>
        <div class="col-sm-4 text-justify letter">
            Добрий день Св. Миколаю. ... У мене немає ні брата,
            ні сестри, зате є котик, він називається Мурчик. Я його дуже
            люблю. Я прошу у Св. Миколая головне здоров’я для себе і своєї
            родини. Яке то велике щастя бути здоровим...
        </div>
        <div class="col-sm-4 text-justify letter">
            Я деколи чемна, а деколи не чемна. ... А також принеси в
            наш дім здоров’я, щастя та довголіття.
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Миколай! ...Ми діти чемні послушні допомагаємо
            мамі. І ще Вас дуже просимо щоб нам Бозя дала здоров’ячка.
            Дуже дякую за увагу до нашого листа.
        </div>
        <div class="col-sm-4 text-justify letter">
            ДОБРИЙ ДЕНЬ ДІДУ МИКОЛАЙ! ПРОШУ
            ПОДАРУВАТИ НАМ ІГРАШКИ — ЛЮБІ. МИ БУДЕМО
            ЧЕМНІ.
        </div>
        <div class="col-sm-4 text-justify letter">
            ... А ще прошу дати мені здоров’я, щоб я добре чемна
            росла і гарно вчилася в школі й на музиці.
        </div>
        <div class="col-sm-4 text-justify letter">
            ... хочу телефон але щоб кудись дзвонити....
        </div>

        <div class="col-sm-4 text-justify letter lots_of_text">
            (написано на звороті листівки СЛАВА РОДИНЕ
            ОКТЯБРЯ! з крейсером “Аврора”) Святий Миколаю як твоє
            здоров’я як ти живеш, якщо ти себе добре почуваєш і якщо
            тобі не погано, то я тебе дуже сильно прошу принеси мені
            комп’ютерну ігру “Денді” і костюм “Місяця”.
        </div>
        <div class="col-sm-4 text-justify letter ">
            Святий Миколай, я хочу ляльку і для ляльки хатку, для
            ляльки велику хатку, для ляльки хатку, але шоп хатка була
            велика, і шоп хатка була гарна, і шоп була хатка велика, хатка
            шоп була, і для ляльки хатку, але шоп хатка була велика хатка, і
            шоп була хатка, була велика,
            хатку, і шоп була велика,
            доцю для ляльки, але для
            ляльки хатку, шоп була
            хатка велика, гарна....
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Миколаю. До
            тебе пише дівчинка Оля.
            Принеси мені подарунок. Я
            була чемна і трошечки не
            чемна. Я справлюся.
        </div>
        <div class="col-sm-4 text-justify letter">
            До Раю Святому
            Миколаю. Дорогий Святий
            Миколай! Гарно прошу
            подарувати мені кілограм
            апельсин.
        </div>

        <div class="col-sm-4 text-justify letter">
            Мыколай принеси мне
            пажалуста дресерованую
            собаку Чао-чао. И чтобы
            была приучена к своему
            имени, Рекс. И чтобы она и
            меня и бабушку с дедушкой,
            слулушалась всегда! И чтобы
            у Рекса, был домик с мягкой
            подстилкой из норки, и на
            домике была ручка, чтобы
            рукой брать ее и нести домик...
            И принеси мне 50 киндеров,
            и 20 мешков конфет, и 30
            мешков казинак...
        </div>
        <div class="col-sm-4 text-justify letter lots_of_text">
            Святий отче Миколаю! В молитві та проханні я звертаюсь
            до Тебе: зроби наш чудотворцю так, щоб у тата виплатили гроші
            і у мене була змога відкласти гроші на велосипед. А то я збираю
            собі копійки, а мама їх візьме, щоб купити хліба та молока. Прошу
            святий Миколаю хай Україна буде щасливою країною та багатою.
            Принеси моєму маленькому братикові, будь ласка корзину
            дитячого харчування — йому 9 місяців, а мені 8,5 років. Мамі даруй
            здоров’я а татові — ремінь. Дякую.
        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколаю! Зроби так, щоб в моїй родині всі були
            живі, та здорові, щоб люди були людянішими і в нас би не було
            дітей-сиріт. А ще я би дуже хотіла щоб у мене була сестричка,
            або братик. Принеси мені якийсь подарунок, бо стидно навіть про
            щось просити, бо на світі стільки обездолених дітей — поможи
            їм, а мені буде радісно, що вони щось отримали, то і буде мені
            подарунком.
        </div>
        <div class="col-sm-4 text-justify letter">
            Слава Ісусу Хресту. Святий Миколайку Пришли мені
            альбом і тетріс, а середущому братові Василю теж альбом і
            тетріс а найменшому брату Дмитру невеличку машинку. Так як
            у батьків не хватає на такі речі грошей. Батько вже не получає
            на заводі 4 роки грошей, а мама получає зовсім мало. Старший із
            синів Микола.
        </div>
        <div class="col-sm-4 text-justify letter">
             Дорогий Миколай! Я буду чемний хлопчик, а ти подаруй
            мені: один пістолет, 1 рація, 2 бомби, 1 наручники. Дякую тобі. Я
            живу: Тернопіль, в. Бандери.
        </div>
        <div class="col-sm-4 text-justify letter">
            (з переліку речей) 10. Лижі для розміру ноги. 11. Джинси
            довжини 89 см, ширина 74 см.
        </div>
        <div class="col-sm-4 text-justify letter">
            ЛЮБЛЮ СВЯТОГО МИКОЛАЯ! ПРОШУ ПРИНЕСТИ
            ДИТЯЧИЙ ШАМПУНЬ, СИРНИКА, ФАНТУ, ЦУКОРКІ,
            ЧОБУТИ-РО. 32
        </div>
        <div class="col-sm-4 text-justify letter">
            миколоюви. миколаю оче святй будьіласка приниси мені
            годиник світлом і приниси компютор я пишу свою адресу вулиця
            (така-то) нумер хати 127. миколаю будьласка приниси миколаю
            я пишу свою фамілію (але нема).
        </div>
        <div class="col-sm-4 text-justify letter lots_of_text">
            Кантора Святого Миколая. Святий отче Миколаю молюся
            і благаю вас, щоб я Гануся завжди була здоровою і ніколи більше
            не хворіла, і ще була розумною, щоб завжди ходила в школу і до
            церкви. Хочу щоб мама і тато також були здорові. Обіцяю бути
            чемною і слухняною. Прошу вас святий Отче подарувати мені
            цукерки, цікаву книжечку і ще лосіни, бо вже старі малеькі. Татові
            і мамі грошей чимало, щоб завжди їм вистарчило, а бабусі щоб
            завжди пенсію приносили. Чекаю вас в день Святого Миколая!
        </div>
        <div class="col-sm-4 text-justify letter">
            (на конверті) Миколай пісьмо тобі я пиш апишу, Іра і ціла
            сім’я. роліки-35 коліна локті шлем. (і лист) Миколай, принеси Ірі
            цукерки, банани, і ковзани і теплі рукавиці. Миколай принеси
            Дімі шапку і цукеркі і ананас. Миколай принеси мамі цукеркікнигу банани. Миколай принеси татові Цукеркі і книгу. Миколай
            принеси дідові і бабі шоколадку і ананас і книшку.
        </div>
        <div class="col-sm-4 text-justify letter lots_very_of_text">
            Добрый день Святой Миколай. Скоро Новий год. Я очень
            люблю этот праздник. Мы раньше каждий год наряжали ёлку
            с папочком, было всегда весело, а теперь два года назад наш
            папа умер перед самим новым годом. Мама перестала наряжать
            ёлку и дарить нам подарки как раньше, а мы с братиком и
            сестричкой так любим подарки. Я учусь в 1 классе на 5. Учусь в
            музыкальной школе на скрипке. Мама говорит что не сможет мне
            купить скрипку потому что оно стоит дорого. Святой Миколай
            не забывай нас. Пусть папе будет хорошо на небе. Сделай так
            чтоб он вернулся к нам, ведь ты всё можеш.
        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколаю! Пише до тебе Надя. Я знаю, що на
            Миколая ти приносиш усім дітям подарунки. Я не прошу у тебе
            ніяких подарунків, а тільки зроби так щоб Олежик був здоровий
            і його не клали в лікарню. Дуже Тебе прошу Миколаю.
        </div>
        <div class="col-sm-4 text-justify letter lots_of_text">
            Слава Ісусу Христу!
            Дорогий Отче Миколаю,
            покровителю знедолених
            та бідних людей, радість
            Ти малих дітей. До Тебе
            я пишу листа. Мені 10
            років, вчуся в 3 класі. Мого
            тата звати Микола, маму
            Олеся я дуже люблю їх.
            Люблю ходити до церкви
            з батьками. Любий, Святий
            Миколаю прошу Тебе
            захисти нашу Україну,
            український народ від усіх
            бід. І щоб Україна стала
            справді багатою і вільною державою. Щоб люди шанували її.
            Щоб діти жили щасливо і в достатку, любили Бога і поважали
            один одного. Уляна
        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколаю. Пише до вас Павлик і Руслана. Ми
            тебе просим щоб ти дав здоров’я мамі, татові, бабам і дідам,
            всім цьоткам, і всім вуйкам. Ми з Русланков нечемні діти але
            хоч Русланка маленька вона коли ми їдем спати я молюся і вона
            клякає.
        </div>
        <div class="col-sm-4 text-justify letter">
            Лист до Святого Миколая. Добрий день Святий Миколай.
            Прийми найщиріші вітання з нагоди твого свята. Я вчуся в 2
            класі. Проживаю у Львові. Я хотів би Тебе попросити, щоб Ти дав
            здоров’я всім, друзям, батькам і мені. А якщо можна маленький
            подарунок. Дуже дякую.
        </div>
        <div class="col-sm-4 text-justify letter">
            ...Бувай Святий Отче. Знай! Усі діти тебе дуже люблять
            і поважають.
        </div>
    </div>
</div>