<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Листи з канцелярії Святого Миколая
                <small> 1999 р.</small>
            </h1>
        </div>
    </div>
</div>
<div class="letters ">
    <div class="row">
        <div class="col-sm-4 text-justify letter">
            Святий Миколаю. Яхочу мати молоду барбі щоб внеї
            згинались руки і ноги. І пинал. на три замочки. Анна.
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Миколаю я тебе прошу принеси Христинці все до
            школи, колясочку та що гойдається, ляльку та що ходить. Мамі
            взуття, одяг і все що вона хоче. Тату все що він хоче. Дідусеві
            нові шкарпетки. Бабуні тапочки.
        </div>
        <div class="col-sm-4 text-justify letter lots_of_text">
            Святому Миколаю. Дорогий Святий Миколаю вітаю Вас
            з святом Миколая:
            Бажаю здоров’я<br>
            і сили також<br>
            Радості щастя<br>
            І швидкості теж!<br>
            Це я для Вас віршика маленького склав. Дорогий Миколаю,
            будь ласка принеси мені такий конструктор LEGO і машинку
            фірми burago що складається. І будь ласка принеси моїй сестрі
            робочий комп’ютер найновішого виду. Бо моя сестра закінчила
            курси комп’ютера.
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Отче Миколаю я Вас прошу дайте нашій родині
            здоров’я, терпіння і любові. Святий Миколай я знаю, що я не
            дуже чемна. Ви бачите, що я краду, брешу, але я хошу стати
            кращою.
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий дорогий Миколай! будь-ласка принеси мягку
            іграшку корівку і складанку.
        </div>
        <div class="col-sm-4 text-justify letter">
            Лист Святому Миколаю. Принеси мені цукерки і ляльку,
            яка їсть і п’є. Якщо не зможеш То принеси щось інакше.
        </div>
        <div class="col-sm-4 text-justify letter lots_verys_of_text">
            Святий Миколаю принеси мені будь ласка:
            1) Складанку (на 600 або 1000 чи 500 шт)
            22) Блокнот з твердою обгорткою
            3) Кілька гелевих ручок і золоту, срібну, рожеву, блакитну ї ін.
            4) Кілька печаток.
            5) 5 блокнотиків пахучок.
            6) Пенал
            7) Бісер (2–3п.) з гарними кольорами
            8) гру “Імперія”
            9) м’яку іграшку
            10) Альбом для фотографій
            11) Кіндер сюрприз (3 шт)
            12) Рукавиці
            13) Маркер (1)
            14) Календарики (5 шт)
            15) Розмальовку, щоб можна було розмальовувати
            фломастерами.
            16) Гольф (такий як мій берюзовий).
            17) Наклейки (кілька листків).
            18) карточки “Ксена”
            19) Фарби
            20) Капсульну ручку
            21) Скотч
            22) Солодощі
            23) Фрукти
            24) Тістечка
            25) Кижку з бісером
            26) Картину
            27) Іграшку на ялинку
            28) Зошити грубі
            29) Торт “Верховина”
            30) Кілька защипок.
            І ще багато чого іншого!!!
            Примітка) номера якщо зазначені:
            — вишневим фламастером — то це обов’язково,
            — синім — бажано принести
            — зеленим — необов’язково.
        </div>
        <div class="col-sm-4 text-justify letter">
            Привіт Св. Миколаю це до тебе Юрій.
            Вибач але ролики мені Мама купила. Їх подариш комусь
            іншому хлопчику або моїй сестрі Христині її адреса (така то)
            вона ще ніколи не получала справжнього подарунка від тебе.
            Але ж у моєї собачки немає свята Св. Миколая то я прошу за
            неї. Принеси їй поводок такий щоб там натискалось на кнопку
            і поводок ніби розмотувався і був дуже великим. Але на жаль
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Миколаю, я був трохи нечемний, маму, бабу і
            діда ображав і не слухав, але обіцяю виправитись. Тому прошу
            принести мені подарунок. Дякую тобі.
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий отче. Тобі пише учень 2-в класу Богдан. Яб дужеб
            був втішений якби Ти приніс мені лазер. Яб тоді завжди, молився
            і ходив до Церкви. І ще я хотів Щоб Святитиль Миколай преніс
            моїй мамі французькі Духи.
        </div>
        <div class="col-sm-4 text-justify letter">
            Приниси Миколаю!!! Приниси мені цукерки, апельсини,
            мандарини і там різне солодке. Сорочку нічну і такий пинал як
            є в Люди. Це я хочу.
        </div>

        <div class="col-sm-4 text-justify letter">
            Вірш для Тебе Святий Миколаю, я Тебе вітаю! Поспішай
            до всіх діток в нашім ріднім краю. Що я Тебе прошу дуже Я
            хочу, щоб Ви подарували: коробку олівців, шашки і тетріс.
        </div>
        <div class="col-sm-4 text-justify letter lots_very_of_text">
            До тебе пише Юля. Я тобі написала вірша.
            Вечір пташкою літає,
            Ніжно місяць весь горить,
            Теплу хату сон шукає
            Снігом поле мерехтить.
            У небесному просторі,
            Де прекрасна кожна мить,
            Де лілеї, ясні зорі,
            Миколай в кареті мчить.
            І святими ліхтарями
            Простелився шлях в наш край,
            Із чудовими дарами
            Мчить ним з раю Миколай.
            Він заходить лиш тихенько
            В кожну чуйную домівку,
            Руку враз кладе легенько
            Всім малятам на голівку.
            Сльози, смуток — все згасає
            Мов зникає все і край,
            Бо в цю ніч допомагає
            Всім святий наш Миколай.
            Саме більше я хочу аби всі здорові і шасливі. Я б хотіла,
            щоб наша Україна була незалежна.
        </div>

            </div>
</div>