<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Листи з канцелярії Святого Миколая
                <small> 2000-2001 рр.</small>
            </h1>
        </div>
    </div>
</div>
<div class="letters ">
    <div class="row">

        <div class="col-sm-4 text-justify letter">
            Святий Миколай. Принесіть
            мені магнітофон, копілку, статуетку.
            Шкарпеткі і рукавиці. І загадки.
            Хто ходить в ніч на 19 грудня?
            Миколай! Роздає дари, кожному
            до пари, будеш чемненький — буде
            подарунок гарненький, будеш
            поганий — прутик тоненький. Хто
            роздає дари? Миколай!
        </div>
        <div class="col-sm-4 text-justify letter">
            Подаруй мамі шкарпетки.
        </div>

        <div class="col-sm-4 text-justify letter">
            На небо. Отче Микколаю! Я
            на вас чекаю. Принесіть даруночки.
            Якщо буде можливо то складіть в
            торбину: дистанційну машинку і
            мобільний телефон і компютерні
            ігри наприклад бригаду, і якісь
            мультики ішче щоб я добре вчився.
            Мому Братові Матвійкові конструктор і гольф. Мамі парфуми
            книгу. А САМЕ БІЛЬШЕ Я ХОЧУ ЩОБ ПРИЇХАВ МІЙ ТАТО
            І ЧИМ СКОРІШЕ. Роман.
        </div>
        <div class="col-sm-4 text-justify letter lots_of_text">
            Дорогий Миколаю! Вітаю тебе з Днем Ангела і хочу
            побажати щастя, здоров’я, щоб у тебе на небі все було добре (я
            в тому переконана) я знаю що це в тебе іменини але хочу дуже-
            дуже щоб ти мені привіз, подарував таке. Гольфік зелений той
            що я міряла в “Китайському кварталі” та вельветову сумочку
            (подібну Юлічкиної, бурих кольорів, крім чорної). Дякою! Цілую,
            з любов’ю Оленочка!
        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Св. Миколай. Я дуже люблю музику і неординарні
            речі. Тому я б дуже хотів би 2 музичних диски: Gorillas;
            Linking park; і також один пістолет з лазером, ліхтариком і
            глушителем.
        </div>
        <div class="col-sm-4 text-justify letter">
            Принеси мені щоденник для хлопчиків 20 шт.
        </div>
        <div class="col-sm-4 text-justify letter">
            Св. Миколає. Усі діти пишуть тобі листи. Я вже не дитина,
            але я прошу тебе і звертаюсь до тебе з проханням, щоб коли
            моя Надійка приїде сюди, ти послав їй гарного чоловіка який би
            захотів піклуватися про неї і якого б вона полюбила. Щоб вона
            не відчувала себе одинокою, щоб біля неї завше би було надійне
        </div>
    </div>
</div>