<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Листи з канцелярії Святого Миколая
                <small> 2002 р.</small>
            </h1>
        </div>
    </div>
</div>
<div class="letters ">
    <div class="row">

        <div class="col-sm-4 text-justify letter">
            [Дорогий Миколаю!] (лист
            азбукою Брайля) Пише тобі учень 2 класу Владислав. Я вчуся
            у школі-інтернаті N 100 для незрячих дітей. Вчуся я добре і
            захоплююсь спортом, шахами. Люблю читати і писати. Подаруй
            мені будь-ласка, якщо можеш, годинник, який сам говорить яка
            є година. До побачення любий Миколаю. Владислав.
        </div>
        <div class="col-sm-4 text-justify letter lots_verys_of_text">
            Дорогий Миколаю. Мені 12 років, але я дуже-дуже
            люблю свято Миколая. Одного разу бабуся сказала мені, що
            Миколая неіснує. Що це батьки підкладають вночі під подушку
            подарунки. Але я в це не повірила тому що я чула від нашої
            вчительки прекрасні легенди про те як малим Миколай щедро
            наділяв бідних людей подарунками. А ще коли я вчилася в
            третьому класі наша вчителька з малювання розповідала нам,
            якщо в ніч на Миколая написати йому листа і поставити на вікно
            тоді вночі ангели заберуть його і віддадуть Святому Миколаєві.
            Я так і зробила, а коли зранку прокинулася то побачила, що мого
            листа немає, а подарунки про які я просила лежать в мене під
            подушкою. Я навіть і не уявляла, що це зробила мама або тато
            бо вони нічого не знали які саме подарунки я хотіла. Я знаю,
            що в тебе дуже мало часу, але я певна що ти знайдеш його щоб
            написати мені листа. Чекаю на тебе. Оленка.

        </div>

        <div class="col-sm-4 text-justify letter">
            Дорогий Миколаю! Бажаю тобі міцного здоровя щастя і
            довгих років життя і гарну послушну Снігурочку!
        </div>
        <div class="col-sm-4 text-justify letter lots_of_text">
            Миколаю в Лапландію. Мені дуже потрібна Мишка
            до комп’ютера і клавіатура мишка на дві кнопки і суча сну
            клавіатуру Англійської мови і на українській. І блок пітардів по
            можливості.
        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколаю. Я тебе чекаю прийди до мене вдень
            або вночі.
        </div>
            </div>
</div>