<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Листи з канцелярії Святого Миколая
                <small> 2005 р.</small>
            </h1>
        </div>
    </div>
</div>
<div class="letters ">
    <div class="row">

        <div class="col-sm-4 text-justify letter">
            Св. Миколає я прошу для моєї сестри чоловіка — гарного
            “супруга”, з яким вона пройде поруч усе життя і подолає разом
            з ним усі тривоги і випробування. Щоб вона завжди була під
            надійною опікою. Я хочу щоб моя сестра була щаслива тут, щоб
            вона ніколи не жаліла що приїхала до мене.
        </div>
        <div class="col-sm-4 text-justify letter lots_verys_of_text">
            Святий Миколаю! Від щирого серця вітаємо тебе зі
            святом і з наступаючим Новим роком та Різдвом Христовим.
        </div>

        <div class="col-sm-4 text-justify letter">
            Небесна Канцелярія. Святому Миколаю. Кожного разу з
            року в рік діти пишуть тобі листа. І ти завжди не зважаючи на
            холодну погоду даруєш дітям гарні подарунки. Але хто подарує
            тобі? В цьому є несправедливість. Тому я намалюю тобі малюнок.
            Думаю він тобі сподобається. До наступного року. Христина.
            Львівська область.

        </div>
        <div class="col-sm-4 text-justify letter lots_very_of_text">
            Гей, пошлемо листочок до раю!<br>
            “Не забудь нас, Святий Миколаю!<br>
            Не забудьте про нас, янголятка! —<br>
            Вас прохають і хлопці й дівчатка.<br>
            Ми складаєм долоні маленькі<br>
            І молимось до Божої Неньки,<br>
            Тож гостей ми чекаємо з неба —<br>
            А Антипка нам зовсім не треба!”<br>
            В український любий край<br>
            Сходить Святий Миколай<br>
            Вночі, завжди в один час,<br>
            З подарунками для нас.<br>
            З ним маленькі янголята, -<br>
            І їм рада кожна хата!<br>
            Щедрий, добрий Миколай,<br>
            Нас усіх не забувай!<br>
            З подарунками для нас,<br>
            Приходи щорік, щораз!<br>
        </div>
    </div>
</div>