p {
    text-indent: 20px
}
.container {
    max-width: 920px;
    margin: auto;
}
.logo {
    background: url('/img/4415.jpg') no-repeat;
    height: 300px;
    background-size: contain;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:40px;
}
.logo a{
    margin-top: 15px;
    margin-left: -250px;
    display: block;
    color: #F5DA14;
    font-size: 40px;
}
.logo img{
    margin-right: 25px;
}
.header {
    background: url('/img/4415.jpg') no-repeat;
    height: 100px;
    background-size: contain;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:40px;
}
.header_my{
    text-align:justify;
}
.letters_list .thumbnail img{
    height: 150px;
}
.letters_list .thumbnail .caption p{
    font-size: 12px;
    height: 140px;
}
.letter {
    background-image: url('/img/letter_bg.png');
    height: 320px;
    background-size: 313px 320px;
    padding: 30px 40px;
    margin-bottom: 30px;
}
.letter.lots_of_text{
    font-size: 13px;}
.letter.lots_very_of_text{
    font-size: 11px;
}
.letter.lots_verys_of_text{
    font-size: 9px;
}
.text_about{
    font-style: italic;
    align: justify;

}
.letters {
  /*font-size: 11px;*/
    font-style: italic;
}
.new{
    font-size: 10px;
    font-style: italic;
    text-align: justify
}
