<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Листи з канцелярії Святого Миколая
                <small> 1996-97 рр.</small>
            </h1>
        </div>
    </div>
</div>
<div class="letters ">
    <div class="row">
        <div class="col-sm-4 text-justify letter">

            Отче Святий Миколаю ми
            Тебе Вас всі любимо. Я б хотів
            щоб Ти Ви у цей прекрасний
            день як що зможете подарували
            мені радіо центр і ще якусь
            касету до приставки дві книжки
            про фантастику ну і цукорки
            мандаринки. Незабуть і мого
            брата подаруй розуму щоб він
            вмів писати, читати і подаруй
            йому ще машинку на пульті
            конструктор і як завжди
            цукерки, мандаринки.
        </div>
        <div class="col-sm-4 text-justify letter">
            Дідусю Св.Миколаю я
            чемна, слу хаю маму, тата і
            всіх старших. Молюся до Бозі
            вечером і рано. Знаю багато дитячих молитов. Готуюся до свят.
            Вивчаю вірші до Св. Миколая і коляди. Я дуже хочу щоб ви мені
            принесли колясочку для ляльок і дитячу тумбочку. Як що того
            не буде то по можливості (що зможете) І ще я забула, тапочки
            із зайчиком або собачкою які зможете купити.

        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколаю приниси мені шубу і сарафан, і ще
            скакалку і коропку конфет і лялькубарбі з лялькою і фарби
            ще зошити і 3 колька і ще приниси 4 шаріка і колюрови папір
            і піджаму ще клей, Якти Миклаю мені пренисеш мені такі
            подарунки тороби мені послугу, (і вже на конверті) Миколаю
            ятак мало нехочу Приниси ще приниси ще жувачку.<br><br>

        </div>
        <div class="col-sm-4 text-justify letter">
            Миколай Принеси мені: Касети куку-чамбо какая
            женчина, лілія, територія А плеяр там де слухає пісні дівчина
            годинник багаторазовий, електрон тапки 39 розмір пенал на
            магніт, 4 пачки патронів 4 мандарини 2 банани книжку грубу
            2 синіх ручки шарікові.


        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогой Мыколай, я знаю, что ты всё видиш. Ты знаеш
            как я учусь, я учусь так, потому, что мне трудно. Но я обещаю,
            что исправлюсь. (Внизу цього ж листа дорослим почерком)
            Дорогой, св. Мыколай, я как мама прошу учесть обещание
            данное Артуром. Но знай, что это почти не исполнимо.

        </div>
        <div class="col-sm-4 text-justify letter">
            Св’ятому миколаю! Св’ятиий Микомай я прошу небагато
            я лиш прошу биноколь і щось для рибалки чи для охоти тільки
            не тошо стріляє чи
            вбиває і звичайно
            солодощі. Я на тому
            своє пісьмо кінчаю бо
            немаю часу!

        </div>
        <div class="col-sm-4 text-justify letter">
            Святий, Миколаю, Пише До Тебе Ігор Листа. Деколи
            я буваю нечемний. Не слухаюся батьків погано поводжусяшколі. Але обіцяю поправитися. Прошу тебе принести
            цукерок;
            шоколадок; маленький кульочок цукерок; автомат. Святий дуж
            прошу принести.
        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Миколаю! Я вас прошу і благаю принесіть
            подарунок з божого раю трансформера

        </div>
        <div class="col-sm-4 text-justify letter">
            Миколаю! Принеси мені три коробки LEGO і ще
            фудбольний м’яч. Два букета квітів для мами і сестрички Лілі.
            Поклади мамі під подушку 1000 гривнів.


        </div>
        <div class="col-sm-4 text-justify letter">
            Добрий день Миколай я вчусь в 1В класі. Оцінки у мене
            добрі Маму слухю Бабу обіцяю бути чемним дуже прошу
            принести мені якісь подарунок я хочу 43 пітарди. Допобачиня


        </div>
        <div class="col-sm-4 text-justify letter">
            (Кожен конверт
            окремо підписаний)
            Юрова баба — халат.
            Юрова мама — духі.
            каву. смачний торт.
            колготи. сумку для
            кошелька. Юровий Дід
            — фляшку горілки і
            мінірльної.

        </div>

        <div class="col-sm-4 text-justify letter lots_of_text">
            Добрий день! Миколаю. Я тебе дуже прошу щоб ти
            прислав пістолета і він стріляв на маленькі пульки. Я у мами
            був дуже слухняний я дуже тебе прошу і напишу до тебе вірша
            М. Сингаївського.<br>
            Батьківщини рідної сади
            Нахилились цвітом до води.
            Кожна гілка — в сонці, у теплі,
            Щедро пахне соками землі.
            Батьківщини рідної гаї
            Кличуть серце в затінки свої,
            Зупинись і слухай солов’я,
            І відчуй, що це земля твоя.


        </div>
        <div class="col-sm-4 text-justify letter lots_of_text">
            (з датою 02.12) Добрий день польський св. Миколай.з міста Львова. Принеси мені будь-ласка картрідж на якому
            є ігри “Балу”, “Чін і Дейл” та “Операції Вольф або Гольф
            або Вульф”. Вибач Я я давно не грав на ній і непам’ятаю
            назви останньої гри. Я тебе дуже прошу принеси мені такий
            картрідж. Вибач мені за те що пишу на укр. мові на жаль я не
            вмію писати польською мовою. І вибач мені за те що такий не
            гарний конверт, я не мав красивого конверта.

        </div>
        <div class="col-sm-4 text-justify letter">
            Лист до Миколая? Дорогий Миколай, я хочу щоб
            ти прийшов до всіх діток і приніс їм їхні подаруки. А мені
            принеси зошити три два з математики два один а укр. мови
            один але щоб ці покришки були беверлі хілз, а як незабаром
            13 грудня Андрія принеси мені касету новий фантом. Письмо
            шлю тобі миколаю з щирим серцем. З любов’ю Олександер.<br><br><br>

        </div>
        <div class="col-sm-4 text-justify letter">
            Лист до св. Миколая. Добрий день Миколаю. Мене звуть
            Ростислав. Принеси мені 1 кг апельсинів 1 кг мандаринів і 3 великих і один малий йогурти я ж тебе дуже
            прошу.

        </div>

        <div class="col-sm-4 text-justify letter">
            Любий Отче Миколаю! Я Вас дуже люблю. Я Вам
            обіцяю що буду слухатися маму і тата. Я Вас дуже прошу
            щоб Ви принесли мені більярд.<br><br>


        </div>
        <div class="col-sm-4 text-justify letter">
            Лист до неба! Любий Отче Миколаю! Ми тебе чекаєм,
            щоб із ласки мами й тата, йшов до нас із дарунками.<br><br><br>

        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколає. Вітаю тебе з твоїм днем ангела.
            Бажаю тобі всього-всього найкращого. Хочу щоб ти мені вислав
            Світочовські солодощі.<br><br>

        </div>
        <div class="col-sm-4 text-justify letter">
            Для Миколая. Дорогий Миколою принеси їм двом для
            Наталі і Іринки подарунки, Іринці ляльку Бірбі, сумку, конготи
            і все. Наталі ляльку барбі, сумку, конготи і все.

        </div>
        <div class="col-sm-4 text-justify letter">
            Любий Отче Миколаю! Я тебе чекаю! Принеси мені
            будь ласка іграшку “Санта Клауса” — це електронна іграшка
            і маленький лаковий чорний портфельчик. Я буду дуже
            чемна! Дуже тебе прошу Святий Отче Миколаю!

        </div>
        <div class="col-sm-4 text-justify letter">
            Миколає, подаруй нам з
            Ірою ровер для двох чоловіків.
            Ірі привези велику клавішу. А
            мені конструктор лего. Мамі
            подаруй набір косметики. Татові
            подаруй машину і гараж.

        </div>
        <div class="col-sm-4 text-justify letter">
            Святий миколаю я тебе благаю щоб ти мені приніс
            пожарну машину, невеликий корабель, альбом для малювання
            та небагато солоденького.<br><br><br>

        </div>
        <div class="col-sm-4 text-justify letter">
            Привіт Миколаю! Я хочу
            косметику та солодощі. Богданка.

        </div>
        <div class="col-sm-4 text-justify letter">
            Привіт Миколаю! Я хочу шкарпетку І і ІІ. Мандарини.
            Вікторові. Допобачення

        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Миколай. Я дуже хочу в цирк і ще хочу відіо
            камеру і хочу я різні солодощі.

        </div>
        <div class="col-sm-4 text-justify letter">
            Привіт Миколаю! Я прошу тетріс, стікляну іграшку та
            солодощі. Орисі.


        </div>
        <div class="col-sm-4 text-justify letter">
            Дорогий Миколайчику.
            Вітаю Тебе із твоїм днем іменинів.
            Бажаю щастя, здоров’я і всього
            найкращого у твоєму житті.
            Я хочу попросити у тебе невеликий подарунок. Який я не буду
            писати, можливо в тебе його не має. Ти вибери сам за мене. Будь
            щасливий. Вітаю з наступаючим Новим роком.

        </div>
        <div class="col-sm-4 text-justify letter">
            Святий Миколаю принесіть мені богато дарунків
            половино іграшків

        </div>

    </div>
</div>