<div class="page-header text-center">
    <img width="100" alt="Емблема" src="/img/4415.jpg" border="0" align="left" >
    <h1>Список листів  <small>  Знайди свій!</small></h1> </div>
<div class="letters ">
<div class="row" >
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img width="215" alt="GIRL" src="/img/edc591fc8774dc6d5a15ef3ea56dce6c.jpg" BORDER="0" >
            <div class="caption text-justify ">
                <h3></h3>
                <p >Святий Миколаю! Я вас прошу і благаю принесіть
                    подарунок з божого раю трансформера.
                </p>
                <p><a href="/#/give_gift" class="btn btn-primary center-block" role="button">Зробити подарунок</a> </p>
            </div>
        </div>
    </div>

   <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img alt="GIRL" src="/img/images.jpg" BORDER="0" >
            <div class="caption text-justify">
                <h3></h3>
                <p >Привіт Миколаю! Я хочу
                    косметику та солодощі. Богданка.
                </p>
                <p><a href="/#/give_gift" class="btn btn-primary center-block" role="button">Зробити подарунок</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img width="150" alt="GIRL" src="/img/19324083.png" BORDER="0" >
            <div class="caption text-justify">
                <h3></h3>
                <p >Святий Миколай. Я дуже хочу в цирк і ще хочу відіо
                    камеру і хочу я різні солодощі.

                </p>
                <p><a href="/#/give_gift" class="btn btn-primary center-block" role="button">Зробити подарунок</a> </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img width="100" height="100" alt="GIRL" src="/img/arton302-28cd0.jpg" BORDER="0" >
            <div class="caption text-justify ">
                <h3></h3>
                <p >Святий миколаю я тебе благаю щоб ти мені приніс
                    пожарну машину, невеликий корабель, альбом для малювання
                    та небагато солоденького.
                </p>
                <p><a href="/#/give_gift" class="btn btn-primary center-block" role="button">Зробити подарунок</a> </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img height="10" width="165" alt="GIRL" src="/img/1361877917_rebenok.png" BORDER="0" >
            <div class="caption text-justify">
                <h3></h3>
                <p >Любий Отче Миколаю! Я Вас дуже люблю. Я Вам
                    обіцяю що буду слухатися маму і тата. Я Вас дуже прошу
                    щоб Ви принесли мені більярд.

                </p>
                <p><a href="/#/give_gift" class="btn btn-primary center-block" role="button">Зробити подарунок</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img width="250" alt="GIRL" src="/img/5e8dd58436c3.png" BORDER="0" >
            <div class="caption text-justify">
                <h3></h3>
                <p >Святий Миколаю я тебе прошу принеси Христинці все до
                    школи, колясочку та що гойдається, ляльку та що ходить. Мамі
                    взуття, одяг і все що вона хоче. Тату все що він хоче. Дідусеві
                    нові шкарпетки. Бабуні тапочки.

                </p>
                <p><a href="/#/give_gift" class="btn btn-primary center-block" role="button">Зробити подарунок</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img width="90" alt="GIRL" src="/img/0_6f4e9_d621b22b_orig.jpg" BORDER="0" >
            <div class="caption text-justify">
                <h3></h3>
                <p >Вірш для Тебе Святий Миколаю, я Тебе вітаю! Поспішай
                    до всіх діток в нашім ріднім краю. Що я Тебе прошу дуже Я
                    хочу, щоб Ви подарували: коробку олівців, шашки і тетріс.

                </p>
                <p><a href="/#/give_gift" class="btn btn-primary center-block" role="button">Зробити подарунок</a> </p>
            </div>
        </div>
    </div>

</div>
</div>
<ul class="pagination" >
    <li><a href="/#/gift">&laquo;</a></li>
    <li><a href="/#/gift">1</a></li>
    <li><a href="/#/gift">2</a></li>
    <li><a href="/#/gift">3</a></li>
    <li><a href="/#/gift">4</a></li>
    <li><a href="/#/gift">5</a></li>
    <li><a href="/#/gift">&raquo;</a></li>
</ul>