<div class="page-header text-center">
    <img width="80" alt="Емблема" src="/img/4415.jpg" border="0" align="left" >
    <h1>Оформлення подарунку</h1> </div>
<div id="modal" class="modal hide">
    <div class="modal-header">
        <h2>Дякуємо за допомогу</h2>
    </div>
    <div class="modal-body">
        <p>Щиро вдячні за оформлений лист. Ваший лист прийде на пошту адміністратора!</p>
    </div>
</div>

<div class="row" >
    <div class="col-sm-4 col-md-6">
        <div class="thumbnail">
            <img width="215" alt="GIRL" src="/img/edc591fc8774dc6d5a15ef3ea56dce6c.jpg" BORDER="0" >
            <div class="caption text-justify ">
                <h3></h3>
                <p >Святий Миколаю! Я вас прошу і благаю принесіть
                    подарунок з божого раю трансформера.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
               <div class="caption text-center">
                <h3 > Ключові слова</h3>
                <p >Трансформер </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <div class="caption  text-center">
                <h3 > Примітки</h3>
                <p >Хлопчик, 10 років </p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4 col-md-12">
        <div class="thumbnail">
            <div class="caption text-center">
                <h3 > Запитання, пропозиції</h3>
                <input  textarea autofocus rows="5" class="form-control"> </textarea>

                <br>

                <p><a href="/#/modal" class="btn btn-primary center-block margin-top:10px " role="alert">Допомогти дитині</a>

                </p>
                    </div>
            </div>        </div>
    </div>
</div>
     </div