
    <div class="logo">
    <div class="row">
        <div class="col-xs-offset-8 col-xs-4 text-left">
            <a href="/#/nicola">Хто такий Миколай</a>
            <a href="/#/gift">Вибрати лист</a>
            <a href="/#/letters">Читати листи
                <img width="220" alt="Лист" src="/img/Лист.jpg" border="0" align="right">
            </a>
        </div>
    </div>

    <br>
</div><br>
            <div class="text_about "  >
                Одного грудневого вечора в кінці кожного року діти
                багатьох країн планети зі стриманим диханням та
                затаєним сподіванням лягають спати з бажанням схопити
                за руку або принаймі побачити найзагадковішого небесного
                гостя. Але нічний відвідувач завжди вичекає час, коли сон
                зморить діточі очі, і тільки подарунки під подушкою на
                ранок та ще деколи сліди вказують, що ВІН таки приходив!
                Дорослі в один голос з цілковитою серйозністю і піднятими
                кутиками вуст розповідають своїм чадам, що переказав для
                них найтаємничіший всезнаючий візитер, кого похвалив, а
                кого посварив, та показують подарунки, які і їм дісталися
                від нього. З твердою обіцянкою бути ще чемнішими та таки
                не проспати ЙОГО наступного року щасливі малюки надовго
                запам’ятовують цей чудовий святковий ранок.

            </div>
            <br>
<div class="letters">
    <div class="row">
        <div class="col-xs-4" align="justify">  Лист до неба! Любий Отче Миколаю! Ми тебе чекаєм, щоб із ласки мами й тата, йшов до нас із дарунками.        (1996-1997 роки)
            <br><img width="110" alt="Bird" src="/img/bird.jpg" border="0" align="right">
        </div>
        <div class="col-xs-4" align="justify">  Дорогий Миколаю. Пише до вас Павлик і Руслана. Ми тебе просим щоб ти дав здоров’я мамі, татові, бабам і дідам, всім цьоткам, і всім вуйкам. Ми з Русланков нечемні діти але хоч Русланка маленька вона коли ми їдем спати я молюся і вона клякає   (1998 рік)</div>
        <div class="col-xs-4" align="justify"> [Дорогий Миколаю!] (лист азбукою Брайля) Пише тобі учень 2 класу Владислав. Я вчуся у школі-інтернаті N 100 для незрячих дітей. Вчуся я добре і захоплююсь спортом, шахами. Люблю читати і писати. Подаруй мені будь-ласка, якщо можеш, годинник, який сам говорить яка є година. До побачення любий Миколаю. Владислав.  (2002 рік)</div>
    </div>
</div>
