<div class="header">
    <div class="page-header" align="center" >
        <img width="100" alt="Емблема" src="/img/4415.jpg" border="0" align="left">
        <h1>Листи з канцелярії Святого Миколая </h1>
    </div>
</div>

<div class="text_letter" >
    <p class="text_header text-justify"  >У передноворічну пору поштарі різних країн світу виймають зі скриньок
    тисячі діточих листів до Святого Миколая. У них шкарбатим почерком списані
    жалі, прохання і подяки до небесного Чудотворця. Часто є листи і від дорослих.
    Більша частина з них попадає до Риму, Константинополя, Єрусалиму або,
    заадресовані до Санта Клауса, в поштові відділення Фінляндії, Канади і
    Аляски.
    Там в нього є придумані дітьми адреса і навіть спеціальний поштовий
    індекс. До Св. Миколая можна написати на будь-яке з його імен, бо він є єдиним
    святим, який заохочує до писання листів, а потім уважно їх перечитує. Відомий
    він також як Міколай, Міклаш, Йолупукі, Сеінт Ніколас, Сантаклос, Фадер
    Крісмас (Батько Різдво) або Пер Ноель і навіть недавній атеїстичний Дід Мороз
    був замаскованим Миколаєм, котрий перечікував антирелігійний режим. У
    цій книжечці лише невелика частина листів, з якими доводиться мати справу
    Святому Миколаєві коли він щороку відбирає надіслану йому кореспонденцію
    зі своєї львівської Канцелярії. Протягом десяти років від часу її заснування в
    1996 р., вона передала своєму небесному Патрону незліченну кількість дитячих
    послань, і з деякими з них, за згодою Миколая та з нагоди ювілею її існування,
    знайомимо наших читачів.
    </p>
    <div class="row" >
    <div class="col-xs-6">
        <div class="list-group">
            <a ng-click="openLettersForYears('1996-1997')" class="list-group-item list-group-item-success">1996-97рр.</a>
            <a ng-click="openLettersForYears('1998')" class="list-group-item list-group-item-info">1998 р.</a>
            <a ng-click="openLettersForYears('1999')" class="list-group-item list-group-item-warning">1999 р.</a>
            <a ng-click="openLettersForYears('2000-2001')" class="list-group-item list-group-item-danger">2000 -2001 рр.</a>
        </div>
    </div>
        <div class="col-xs-6">
            <div class="list-group">
                <a ng-click="openLettersForYears('2002')" class="list-group-item list-group-item-success">2002 р.</a>
                <a ng-click="openLettersForYears('2003')" class="list-group-item list-group-item-info">2003 р.</a>
                <a ng-click="openLettersForYears('2004')" class="list-group-item list-group-item-warning">2004 р.</a>
                <a ng-click="openLettersForYears('2005')" class="list-group-item list-group-item-danger">2005 р.</a>
            </div>
        </div>
    </div>

</div>