<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Листи...листи...листи...
                <small> Знайди свій</small>
            </h1>
        </div>
    </div>
</div>


<table class="table table-condensed ">
    <thead align="center">
    <tr align="center">
        <th><a href="/#/Take_letter"> Фото</a></th>
        <th>№</th>
        <th>Ключові слова</th>
        <th>Текст</th>
        <th>Дата</th>
        <th><a href="/#/Take_letter_adm">Дата завершення</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><img width="70" alt="GIRL" src="/img/edc591fc8774dc6d5a15ef3ea56dce6c.jpg" BORDER="0"></td>
        <td>1</td>
        <td>Дарунки</td>
        <td>Лист до неба! Любий Отче Миколаю! Ми тебе чекаєм, щоб із ласки мами й тата, йшов до нас із дарунками.</td>
        <td>24.10.2014</td>
        <td>14.12.2014</td>
    </tr>

    </tbody>
</table>
