<div class="header">
    <div class="page-header" align="center">
        <img width="100" alt="Емблема" src="/img/4415.jpg" border="0" align="left">

        <h1>Миколай по всьому світі</h1>
    </div>
</div>
<div class="header_my">
    <p> День святого Миколая (також Свято святого Миколая, у народі — День Миколи, Зимовий Миколай) — це день
        святкування та
        вшанування пам'яті Святого Миколая у католиків та православних. Ті церкви, які дотримуються юліанського
        календаря,
        відзначають свято 19 грудня за новим стилем (у 20-21 століттях), а ті, що дотримуються григоріанського календаря
        — 6
        грудня.
    </p>

    <p>
        Хочемо повідати вам про те, як відзначають цей день у різних країнах. Думаємо, що це буде цікава подорож по
        світу з своїми новими захоплюючими історіями.
    </p>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Albania" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Албанія</h2>

                <p class="list-group-item-text">В Албанії день Святого Миколая більше відомий, як свято Ніколи Зимового.</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Austria" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Австрія</h2>

                <p class="list-group-item-text">У Австрії напередодні свята містами бігає чортівня, яку згодом, розганяє святий Миколай.</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Holland" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Голандія</h2>
                <p class="list-group-item-text">В Голландії діти вірили, що святитель щороку приїжджає в Роттердам на кораблі з Іспанії.</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Italy" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Італія</h2>
                <p class="list-group-item-text"> В Італії покровителем вважається Микола Чудотворець, тому й свято припадає на 6 грудня.</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Netherlands" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Нідерланди</h2>

                <p class="list-group-item-text">За кілька днів до 5 грудня Святий Миколай припливає до Нідерландів на пароплаві.</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Germany" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Німеччина</h2>

                <p class="list-group-item-text">Ніколаус завжди бере чотириногого помічника тільки з тієї ослячої родини</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Poland" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Польща</h2>

                <p class="list-group-item-text">В Польщі напередодні ввечері вішають чисті білі панчохи (діти в деяких сім'ях, викладають начищені черевики) </p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Ukraine" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Україна</h2>

                <p class="list-group-item-text">Темної зимової ночі з 18 на 19 грудня Святий Миколай сходить із небес і до українських малюків</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/French" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Франція</h2>

                <p class="list-group-item-text">Святий Микола Чудотворець вважається покровителем Лотарингії.</p>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="list-group">
            <a href="/#/Czech" class="list-group-item active">
                <h2 class="list-group-item-heading text-center">Чехія</h2>

                <p class="list-group-item-text">У Чехії ж, коли Святий Мікулаш рушає до дітей, його супроводять ангелик і чорт-паркел.</p>
            </a>
        </div>
    </div>
</div>