<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Оформлення листа
            </h1>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-xs-6 col-md-6">
        <a href="#" class="thumbnail">
            <img width="500" height="500" src="img/letter.jpg" alt="leter" border="0">
        </a>
    </div>

    <div class="col-xs-6 col-md-6">
        <h4 align="center">Текст листа</h4>
        <textarea class="form-control" rows="2" placeholder="Введіть текст"></textarea>
    </div>

    <div class="col-xs-6 col-md-6">
        <h4 align="center">Ключові слова</h4>
        <input type="keyword" class="form-control" id="exampleInputWord" placeholder="Введіть ключові слова">
        <h4 align="center">Примітки, запитання</h4>
        <textarea class="form-control" rows="3" placeholder="Введіть примітки, запитання"></textarea></div>

    <div class="col-xs-6 col-md-6">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <h4 align="center">Дитина</h4>
                <input type="keyword" class="form-control" placeholder="Прізвище та ім'я дитини"></div>
            <div class="col-xs-6 col-md-6">
                <h4 align="center">Вік дитини</h4>
                <input type="keyword" class="form-control" placeholder="Введіть вік дитини"></div>
        </div>
        <br>
        <br>
    </div>

    <div class="col-xs-6 col-md-6">
        <button type="button" class="btn btn-primary btn-lg btn-block">Додати лист</button>
    </div>
    <div class="col-xs-6 col-md-6">
        <button type="button" class="btn btn-primary btn-lg btn-block">Видалити лист</button>
    </div>


</div>

