<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>
                <h3> Албанія</h3>

        </div>
    </div>
</div>
<div class="albania text-justify">
    <p> В Албанії день Святого Миколая більше відомий, як свято Ніколи Зимового. Албанці починають його відзначати ввечері 5 грудня та святкують весь день 6 грудня.</p>
       <p> У переддень свята люди в оселях запалюють свічки та постяться до півночі. А потім на стіл подається смажене ягня або свинина. Починається святкова трапеза, і люди говорять одне одному такі слова: «Нехай ніч Святого Миколая допоможе тобі!».</p>
       <p> Не забудьте й ви про ці слова, якщо святкуватимете День Святого Миколая та Різдво в Албанії.</p>

    </p>

   </div>