<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>
            <h3> Австрія</h3>

        </div>
    </div>
</div>
<div class="austria text-justify">
    <p> В Австрії в день свята спершу вулицями міст ходить зграя лихих Крампусів-чортІв - відбувається справжній чортячий парад. Вони гримлять ланцюгами, кричать, лякають перехожих.  </p>
    <p> Але ось на майдані біля собору з'являється Святий Ніколаус - і чортівня злякано відступає, тікає й ховається.</p>
    <p> Настає час подарунків.</p>

    </p>

</div>