<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>
            <h3> Франція</h3>

        </div>
    </div>
</div>
<div class="french text-justify">
    <p>У Франції Святий Миколай Чудотворець вважається покровителем Лотарингії, і саме в цій області день Святого Миколая святкують особливо активно. Більш того, це офіційне свято регіону.</p>
    <p> У маленькому містечку Сан-Ніколя-де-Пор день Святого Миколая святкується дуже незвично. Увечері з центру міста виходить святкова процесія і рухається по головних вулицях, супроводжувана фанфарами. На чолі процесії йде білобородий старець - Святий Миколай. А супроводжує його привид з різками в руках, щоб відшмагати неслухняних діточок. А після покарання пустунів, привид забирає їх з собою в мішку.</p>



</div>