<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>
            <h3> Німеччина</h3>

        </div>
    </div>
</div>
<div class="germany text-justify">
    <p>Ймовірно, ця традиція святкування пішла з середньовічної Німеччини, де напередодні свята батьки презентували дітям новий зимовий одяг. З часом це почали робити таємно, вночі, щоб діти вірили в чудеса святого. Згодом почали також дарувати ласощі: горіхи, сухофрукти та особливі солодкі хлібці з сушеними грушами; шкільне приладдя, іграшки, які клали в нові чи начищені та полагоджені старі черевики, які ставили поблизу камінів, чи у панчохи, які вішали на каміни. Діти вірили, що святий саме через камін закидає в дім подарунки. Неслухняних дітям клали в'язку різок. </p>
    <p>Вважалося, що імена тих хто гідний чи не гідний подарунка записувалися в Золотій книзі, якою володів святий Миколай. Саме тому в очікуванні свята діти прагнуть бути слухняними, щоб Святий Миколай обов'язково приніс їм подарунок!</p>
    <p>Часто Святий Миколай приходить не сам. У ряді країн Західної Європи супутником Святого Миколая є ослик, який допомагає розвозити подарунки дітям. Саме для цього віслюка діти лишають біля черевичків кілька морквин - адже тваринка за нічну подорож втомиться та зголодніє. Про пригоди Миколаєвого ослика є багато історій. Це не небесний гість, а справжній земний віслюк. </p>
    <p> Але за німецькими легендами, Ніколаус завжди бере чотириногого помічника тільки з тієї ослячої родини, в якій від пра-пра-пра-прадідів тягнеться неперервна родова лінія. Тобто вважалося, що віслюк веде свій рід від осла, на якому Ісус Христос святково в'їжджав у Єрусалим напередодні Розп'яття.</p>


</div>