<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>
            <h3> Голандія</h3>

        </div>
    </div>
</div>
<div class="holland text-justify">
       <p>В Голландії діти вірили, що святитель щороку приїжджає в Роттердам на кораблі з Іспанії, яка уособлювала «теплі країни». Миколай в'їжджав у місто на коні у супроводі «Чорних Пітів» — помічників-негренят, — у червоному облачанні католицького єпископа й з єпископською палицею, і, їздячи країною, дарував подарунки.</p>
    <p> Сьогодні на основі цієї легенди щороку відбувається театралізоване дійство. Подарунки тут даруються анонімно, причому кожен з них супроводжується віршами про адресата, нібито написаними самим святим Миколаєм.</p>


</div>