<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>

            <h3> Італія</h3>

        </div>
    </div>
</div>
<div class="italy text-justify">
    <p>У Італії на острові Сардинія є невелике містечко Сассірі. Його покровителем вважається Микола Чудотворець, тому й
        головне свято міста припадає на 6 грудня.</p>

    <p>Дуже багато років у Сассірі існує гарна традиція під назвою Rito delle nubili. Полягає вона в тому, що протягом
        усього дня у свято Святого Миколи молодим нареченим дарують подарунки.
    </p>


</div>