<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>

            <h3> Нідерланди</h3>

        </div>
    </div>
</div>
<div class="netherlands text-justify">
    <p>У Нідерландах свято починається ввечері 5 грудня - діти й дорослі таємно дарують одне одному подарунки, які
        супроводять листівки з віршами, присвяченими адресату. У вірші слід передати всі найкращі побажання - так ніби
        це написав сам Святий Миколай. Саме ж свято починається вранці. За народними голландськими повір'ями Сінтерклаас
        приїздить до країни з далекої Іспанії (чому саме з Іспанії - ніхто не знає). Визначний гість прибуває з моря на
        кораблі через Роттердам, зустрічають його у крихітному рибальському селі Моннікендам, що недалечко від
        Амстердаму. Супроводить святого пошт зі слуг-маврів, які звуться Чорні Піти й одягнені, як середньовічні пажі.
        Усі вони сходять із корабля - на набережній їх урочисто вітають бургомістр, альдермен, члени міського правління
        та юрми радісних людей. Сінтерклаасу підводять білого коня. Дзвонять дзвони, стріляють гармати, в небі
        пломеніють феєрверки. Святкова процесія рушає центральною вулицею через усе місто. Потім святий гість зі слугами
        відвідує різні дитячі заклади (школи, лікарні тощо). Ближче до Різдва Сінтерклаас приходить у родини. Коли
        наближається час гостини, батьки намагаються залишити малюків насамоті у вітальні. Тихенько прочиняються двері,
        у щілину просувається чорна рука й розкидає цукерки та фрукти. Доки діти збирають солодощі, до кімнати поважно
        заходить Святий Миколай. Він розпитує дітей про їхні справи, навчання, успіхи, невдачі, мрії, а також примхи й
        непослух (адже як небесних опікун усе знає!), трохи хвалить, трохи докоряє, дає поради та настанови - та йде.
        Подарунки ж будуть пізніше. </p>

    <p>На Святий вечір діти залишають на вікні чи біля каміну своє взуття, біля нього гостинці для коня Сінтерклааса
        (моркву, сіно, окраєць хліба).
    </p>

    <p>
        Вночі Святий об'їде по дахах все місто, всю країну, а Чорний Піт спуститься по димоходу й покладе кожному
        належні подарунки. Серед них є й обов'язкові - традиційні святкові солодощі: вершкові льодяники у формі троянди,
        гвоздики та сердечка, шоколадні чи мигдалеві ініціали дитини, марципанові поросятка, коник і сам Сінтерклаас,
        різні фігурки-медівники.
    </p>

</div>