<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>

            <h3>Польща</h3>

        </div>
    </div>
</div>
<div class="poland text-justify">
    <p> В Польщі напередодні ввечері вішають чисті білі панчохи (діти в деяких сім'ях, викладають нещодавно начищені
        черевики) сподіваючись, що вони будуть наповнюватися горіхами і мандаринами, але не вугіллям.</p>

    <p> Тут Св. Миколая приходить як єпископ в яскравому одязі, несучи золотий посох, що нагадує гак пастуха.
        Спустившись з небес помічник ангел, Святий Миколай мандрує пішки, верхи або в санях, запряжених білим конем.
    </p>

</div>