<div class="page-header" align="center">
    <div class="row">
        <div class="col-xs-3">
            <img width="100" alt="Емблема" src="/img/4415.jpg" border="0">
        </div>
        <div class="col-xs-9">
            <h1>Миколай по всьому світу</h1>

            <h3>Україна</h3>

        </div>
    </div>
</div>
<div class="ukraine text-justify">
    <p>Темної зимової ночі з 18 на 19 грудня Святий Миколай сходить із небес і до українських малюків, звідки він бачить і знає, як поводяться діти цілий рік. Має він золоті сани з білими золотогривими кіньми, до хати заходить через двері, але часто невидимий, подарунки підкладає завжди під подушку, за винятком хіба тих, які не помістяться. Часто його супроводжують білокриі янголята, а недалечко крутяться й чортики, котрі переконують Святого, що українські діти були геть нечемні, тому не заслуговують на небесні гостинці. А самі рогаті вертихвости тільки й мають на думці, як украсти торбу з дарунками. Проте нічого в них не вийде! Миколай все знає, та й ангелики добре пильнують. Всі хлопчики і дівчатка отримають дари від Святого. Й лише дуже неслухняні дістануть від Миколая золоту-срібну різочку та наказ виправитись до наступного року. </p>
    <p>У нашій країні це свято набуває все більшої популярності. Його чекають дорослі і діти. У цей день в різних містах проходять благодійні заходи та концерти, в дитячі будинки та лікарні приїжджають відомі люди і, звичайно ж, жодна дитина не залишається без подарунка. А в Карпатах, у Національному природному парку «Гуцульщина», навіть є садиба святого Миколая, куди кожен може приїхати на екскурсію.
    </p>
<p>
    В Україні день Святого Миколая здавна був значним і веселим святом, а в багатьох містах і селах того дня припадало храмове свято. (Навіть нині тільки в Києві на Подолі є три церкви Святого Миколая - і кожну супроводить давня легенда.) У різних місцях миколаївські гуляння мали різноманітні назви й особливості, обходження дворів, миколаївські колядки, миколаївські скрипники (змагання музик) тощо.
</p>
    <p>
        За традицією, старші господарі села на свято збиралися щоб зварити пшеничного пива. Влаштовувалася гостина, після якої всі весело з піснями їздили на санях довкола села.
    </p>
    <p>
        На Харківщині існував звичай святкувати триденні Миколині святки, на які варили кутю і узвар, щоб у наступному році забезпечити врожай на жито й плоди. На всій території України влаштовували заздравні обіди на честь Миколая Угодника з приготуванням ритуального пива та різного виду меду. На Поділлі цього дня чекали «полазника» — чоловіка, який першим зайде до хати, що віщувало багатство й щастя протягом року. Але раніше через подвір’я мав пройти хазяїн, дати худобині їсти й привітати її словами: «Дай, Боже, добрий день, щобись худібонька здорова була та й я з тобою ще й з своєю жоною!». На Київщині хазяїн, прийшовши цього дня із церкви, брав миску зі свяченою водою, паляницю з грудочкою солі, квача з різного зілля, ішов кропити господу, худобу та збіжжя, примовляючи: «Святий Миколай, помилуй та сохрани нас від усякого лиха!».
    </p>
    <p>
        За народними віруваннями велике значення має «перший полазник». Першою до господи має ввійти людина добра, здорова, хазяйновита — це гарний знак для сім’ї. Дбайливі господарі цього дня вітають свою худобу зі святом.
    </p>
    <p>
        До "обов'язків" святого Миколая входить оберігати диких тварин, людей від стихійних лих, у першу чергу на воді. Саме тому святого Миколая дуже шанують рибалки, беруть із собою на промисел образ чудотворця.
    </p>
<p>
    Ось такі різні і традиції і звичаї пов'язані з святкуванням цього великого святого.
</p>
</div>